@import url(../assets/font/Messiri/stylesheet.css);
@import url(../assets/font/Proxima/stylesheet.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #333333;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  font-family: "Proxima Nova Lt";
  background-color: #162831;
}

.header {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #162831;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.4s;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__group-link {
  display: flex;
  gap: 15px;
}
.header__logo {
  width: 80%;
}
.header__nav {
  display: flex;
  gap: 35px;
}
.header__nav-link {
  position: relative;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  transition: 0.4s;
}
.header__nav-link:hover:after, .header__nav-link:focus:after {
  width: 100%;
}
.header__a-link {
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 9px 15px;
  border-radius: 3px;
  background: #018abe;
  transition: 0.4s;
}
.header__promo-active {
  white-space: nowrap;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7333333333);
  border: 1px double rgba(255, 255, 255, 0.658);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 9px 15px;
  border-radius: 3px;
  transition: 0.4s;
}
.header__a-link:hover {
  color: #018abe;
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1298px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  padding-top: 136px;
  padding-bottom: 210px;
  padding-left: 355px;
  padding-right: 355px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../assets/img/aqua-img.png);
  margin-bottom: 150px;
}
.banner__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.banner__span {
  white-space: nowrap;
  color: #fff;
  text-align: center;
  font-family: "El Messiri";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.banner__heading {
  margin-bottom: 40px;
}
.banner__title {
  max-width: 587px;
  color: #fff;
  font-family: "El Messiri";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.sessions {
  margin-top: 30px;
  margin-bottom: 150px;
}
.sessions__wrapper {
  flex-direction: column;
}
.sessions__heading {
  color: #fff;
  text-align: center;
  font-family: "El Messiri";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.sessions__grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.sessions__grid-item {
  position: relative;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 10px;
}
.sessions__grid-item::before {
  content: "";
  position: absolute;
  border-bottom: 7px solid #018abe;
  border-radius: 7px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  transition: all 0.5s ease;
  transform: scaleX(0);
}
.sessions__card-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.sessions__grid-item:hover::before {
  content: "";
  transform: scaleX(1);
}
.sessions__heading-card--alt {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 108px;
  color: #fff;
  font-family: "El Messiri";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.promo__aqua-img {
  width: 100%;
  max-width: 470px;
}
.promo__wrapper {
  flex-direction: column;
}
.promo__main {
  display: flex;
  flex-direction: column;
}
.promo__one-block {
  align-items: center;
  display: flex;
  margin-top: 100px;
  gap: 84px;
  margin-bottom: 100px;
}
.promo__heading-block {
  color: #fff;
  font-family: "Proxima Nova Lt";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.promo__main-text-block {
  width: 100%;
  max-width: 466px;
  color: rgba(224, 216, 216, 0.7803921569);
  font-family: "Proxima Nova Lt";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}
.promo__two-block {
  display: flex;
  gap: 84px;
  align-items: center;
}

.a-link {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.price {
  margin-top: 150px;
}
.price__big-group {
  margin-top: 100px;
  display: flex;
  gap: 134px;
}
.price__wrapper {
  flex-direction: column;
}
.price__main {
  align-items: center;
  display: flex;
  gap: 23px;
}
.price__prices {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.price__text {
  color: #fff;
  text-align: right;
  font-family: "El Messiri";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.price__name {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.price__group-name {
  align-items: center;
  display: flex;
  gap: 20px;
}
.price__span {
  color: #fff;
  font-family: "Proxima Nova Lt";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.price__particle-one {
  width: 18px;
  height: 9px;
  border-radius: 0px 50px;
  background: #018abe;
}
.price__description {
  color: #fff;
  text-align: center;
  font-family: "El Messiri";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 30px;
}

.reviews {
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}
.reviews__wrapper {
  flex-direction: column;
  justify-content: center;
}

.swiper {
  overflow-x: hidden;
  margin-top: 100px;
  margin-bottom: 226px;
  width: 100%;
}
.swiper__content {
  width: 100%;
  max-width: 516px;
  padding: 40px 45px 40px 45px;
}
.swiper__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}
.swiper__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  margin-top: 20px;
}

.header.scroll-header {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(22, 40, 49, 0.7725490196);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.heading {
  white-space: nowrap;
  color: #fff;
  font-family: "El Messiri";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.subsection {
  margin-top: 150px;
  margin-bottom: 90px;
}
.subsection__wrapper {
  justify-content: center;
  gap: 48px;
}
.subsection__group-card {
  display: grid;
  gap: 24px;
}
.subsection__card {
  display: grid;
  width: 100%;
  max-width: 392px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background: #018abe;
}
.subsection__iframe {
  border-radius: 15px;
  width: 856px;
  height: 619px;
}
.subsection__adress {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  background-image: url(../assets/icons/location-icon.svg);
  background-position: left center;
  background-repeat: no-repeat;
}
.subsection__metro {
  margin-bottom: 20px;
  padding-left: 40px;
  background-image: url(../assets/icons/metro-icon.svg);
  background-position: left center;
  background-repeat: no-repeat;
}
.subsection__recording {
  margin-bottom: 30px;
  padding-left: 40px;
  background-image: url(../assets/icons/calendar-icon.svg);
  background-position: left center;
  background-repeat: no-repeat;
}
.subsection__a-link {
  width: 100%;
  max-width: 160px;
  color: #018abe;
  font-family: "Proxima Nova Lt";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 9px 15px;
  border-radius: 3px;
  background: #fff;
  transition: 0.4s;
}
.subsection__text-card {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
.subsection__a-link:hover {
  border-radius: 15px;
}

.footer {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}
.footer__wrapper {
  justify-content: space-between;
}
.footer__copyright {
  color: #fff;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
.footer .dropdown-menu {
  padding-right: 30px;
  content: "+";
  width: 24px;
  height: 16px;
  background-position: right;
}
.footer__author {
  color: #fff;
  text-align: right;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}

.animation-line:after {
  background-color: #ffffff;
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.price__block {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 134px;
}
.price__card-block {
  grid-row-gap: 24px;
  display: flex;
  gap: 24px;
}
.price__img {
  width: 100%;
}
.price__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 416px;
}
.price__service-name {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 30px;
  margin-right: 20px;
}
.price__service-price {
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
}
.price__img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__text {
  margin-top: 30px;
  font-size: 21px;
}

.burger {
  display: none;
  position: relative;
  z-index: 100;
  align-items: center;
  justify-content: flex-end;
  width: 26px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: rgb(218, 218, 218);
}

.burger::after,
.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(218, 218, 218);
  transition: all 0.3s;
}

.burger::after {
  bottom: 0;
}

.burger::before {
  top: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.menubox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(-100%, 0);
  width: 50%;
  height: 100%;
  box-shadow: rgba(15, 14, 37, 0.596) 0 0 20px 0;
  background-color: rgba(32, 33, 47, 0.4235294118);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 1000;
  transition: 0.4s;
}
.menubox__nav {
  display: flex;
  flex-direction: column;
}
.menubox__nav-link {
  padding: 20px;
  transition: 0.3s;
  color: white;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 25px;
}
.menubox__nav-link:hover {
  background-color: rgba(150, 195, 255, 0.1);
}

.menubox--active {
  transform: translate(0, 0);
}

.body-scrolling {
  overflow: hidden;
}

.heading-section {
  color: #fff;
  text-align: center;
  font-family: El Messiri;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 45px;
}
.heading-section__particle-right {
  width: 28px;
  height: 14px;
  border-radius: 50px 0px;
  background: #018abe;
}
.heading-section__particle-left {
  width: 28px;
  height: 14px;
  border-radius: 0px 50px;
  background: #018abe;
}
.heading-section__particle-right--white {
  width: 28px;
  height: 14px;
  border-radius: 0px 50px;
  background-color: #fff;
}
.heading-section__particle-left--white {
  width: 28px;
  height: 14px;
  border-radius: 50px 0px;
  background: white;
}

.heading-card {
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 40px;
  color: #fff;
  font-family: "El Messiri";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.line {
  margin-top: 30px;
  width: 100%;
  max-width: 1296px;
  height: 1px;
  background-color: white;
}

.news {
  margin-top: 60px;
  margin-bottom: 120px;
}
.news__wrapper {
  flex-direction: column;
}
.news__grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
  margin-top: 60px;
}
.news__grid-item {
  position: relative;
}
.news__heading-card {
  font-size: 21px;
}

.data {
  top: 30px;
  left: 35px;
  position: absolute;
  border-radius: 5px;
  padding: 6px 12px 5px 12px;
  background-color: rgb(1, 138, 190);
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 18.9px;
  font-size: 14px;
}

.blog {
  margin-bottom: 120px;
}
.blog__wrapper {
  display: flex;
  flex-direction: column;
}
.blog__heading {
  margin-top: 60px;
  margin-bottom: 60px;
}
.blog__data {
  position: static;
}
.blog__card-block {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.blog__card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px;
  border: 2px solid rgb(1, 138, 190);
  display: flex;
  gap: 50px;
}
.blog__content-card {
  align-items: start;
  position: relative;
  display: flex;
  flex-direction: column;
}
.blog__img {
  width: 100%;
  height: 100%;
}
.blog__heading-card {
  margin-top: 30px;
  margin-bottom: 20px;
}
.blog__subheading {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 40px;
}
.blog__a-link {
  color: white;
  line-height: 18.9px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(1, 138, 190);
}

@media (max-width: 1320px) {
  .sessions__grid-block {
    row-gap: 24px;
    grid-template-columns: 1fr;
  }
  .sessions__card-block {
    grid-template-columns: 1fr;
  }
  .subsection__iframe {
    width: 650px;
  }
  .news__grid-block {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1070px) {
  .subsection__iframe {
    width: 500px;
  }
}
@media (max-width: 1024px) {
  .price__block {
    gap: 50px;
  }
  .blog__card {
    flex-direction: column;
  }
}
@media (max-width: 976px) {
  .header__nav {
    gap: 24px;
  }
  .price__big-group {
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 921px) {
  .header__nav {
    gap: 16px;
  }
  .news__grid-block {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 860px) {
  .header__nav {
    display: none;
  }
  .header__a-link {
    display: none;
  }
  .subsection__wrapper {
    flex-direction: column-reverse;
  }
  .subsection__group-card {
    grid-template-columns: 1fr 1fr;
  }
  .banner {
    display: none;
  }
  .burger {
    display: flex;
  }
}
@media (max-width: 768px) {
  .price__main {
    justify-content: center;
  }
  .banner {
    display: none;
  }
  .subsection__group-block {
    grid-template-columns: 1fr;
  }
  .subsection__block {
    max-width: 300px;
  }
  .subsection__iframe {
    width: 587px;
  }
  .promo__one-block {
    flex-direction: column-reverse;
  }
  .promo__two-block {
    flex-direction: column;
  }
  .header.scroll-header {
    padding: 10px;
  }
  .sessions__grid-block {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 610px) {
  .subsection__group-card {
    grid-template-columns: 1fr;
  }
  .subsection__iframe {
    width: 300px;
  }
}
@media (max-width: 518px) {
  .surprice-img {
    width: 400px;
  }
  .menubox__nav-link {
    font-size: 17px;
  }
}
@media (max-width: 440px) {
  .heading-section {
    gap: 17px;
    font-size: 29px;
  }
  .price__block {
    flex-direction: column;
  }
  .header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__logo {
    width: 70%;
  }
  .promo__main {
    width: 268px;
  }
  .promo__aqua-img {
    width: 300px;
  }
  .news__img {
    width: 100%;
    max-width: 350px;
  }
  .news__heading-card {
    bottom: 15px;
    left: 30px;
    font-size: 18px;
  }
  .sessions {
    margin-top: 30px;
  }
  .sessions__img {
    width: 100%;
    max-width: 350px;
  }
  .sessions__heading-card {
    bottom: 15px;
    left: 30px;
  }
  .sessions__heading-card--alt {
    bottom: 20px;
    left: 30px;
    font-size: 20px;
  }
  .sessions__card {
    width: 300px;
    height: 210px;
    background-position: center;
    padding: 0;
    padding-top: 150px;
    padding-left: 25px;
  }
  .sessions__big-card {
    width: 300px;
    height: 210px;
    background-image: url(../assets/img/card-img.png);
    background-position: center;
    padding: 0;
    padding-top: 150px;
    padding-left: 25px;
  }
  .sessions__heading {
    font-size: 30px;
  }
  .subsection__group-block {
    flex-direction: column;
  }
  .subsection__iframe {
    width: 300px;
  }
  .surprice-img {
    width: 300px;
  }
  .footer {
    gap: 20px;
  }
  .footer__copyright {
    font-size: 12px;
  }
  .footer__author {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .blog__card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .blog__heading-card {
    font-size: 17px;
  }
}/*# sourceMappingURL=style.css.map */
